<style>
   @font-face {
      font-family: 'Recipekorea';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
   .bc{
      background-color: 
      #D0D2D2;
      display:block;
      max-width: 100%;
  
    }
    .ff{
      color: black;
      font-family: 'Recipekorea';
      max-width: 100%!important;
    }
    .ff~p{
      font-size: small;
    }
</style>
<div class="container ml-0 mr-0 bc ff">
   <div class="logo">
     <svg width="3em" height="3em" viewBox="0 0 16 16" class="icon bi bi-door-closed-fill mt-2 ff"
     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
       <path fill-rule="evenodd"
       d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
     </svg>
 </div>
 <h2 class="mb-0 ff" style="font-family: 'GmarketSansBold';">R.R.Company</h2>
   <p class="mb-0 ff">Recipes . Request . Company</p>
   
 </div>
{% extends 'app/main.html' %}

{% block content %}

{% include 'app/status.html' %}

<br>
<div class="col">
   <div class="row container-fluid">
      <div class="col-7" >
         <h3>고객</h5>
         <hr>
         <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block dbtn" href="{% url 'create' %}">고객 추가</a>
            <table class="table table-sm">
               <tr>
                  <th></th>
                  <th>Customer</th>
                  <th>Phone</th>
               </tr>
               {% for i in customers %}
               <tr>
                  <td><a class="btn btn-sm btn-info" href="{% url 'customer' i.id %}">View</a></td>
                  <td>{{i.name}}</td>
                  <td>{{i.phone}}</td>
               </tr>
               {% endfor %}
            </table>
         </div>
      </div>
      <div class="col"></div>
      <div class="col-4">
         <h5 class="mb-5">총 주문</h5>
         <hr>
         <form method="get">
            {{myFilter.form}}
            <button class="btn btn-primary mt-5 dbtn" type="submit">Search</button>
      </div>

<div class="row container-fluid mt-5 ml-3" >
      <div class="card card-body" >
         <table class="table table-sm">
            <tr>
               <th>고객명</th>
               <th>상품</th>
               <th>주문 일시</th>
               <th>배송 상태</th>
               <th>Update</th>
               <th>Remove</th>
            </tr>
         </table>
         <div >
            <table class="table table-sm">
               {% for j in orders %}
               <tr>
                  <td>{{name}}</td>
                  <td>{{j.product}}</td>
                  <td>{{j.date_created}}</td>
                  <td>{{j.status}}</td>
                  <td><a class="btn btn-sm btn-info" href="/delete/{{j.id}}">삭제</a></td>
                  <td><a class="btn btn-sm btn-danger" href="/update/{{j.id}}">수정</a></td>
               </tr>
               {% endfor %}
            </table>
         </div>
      </div>
   </div>


   </div>
   
   <!-- <div class="row-md-5">
      <h5>고객</h5>
         <hr>
         <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create' %}">고객 추가</a>   
            <table class="table table-sm">
               <tr>
                  <th></th>
                  <th>Customer</th>
                  <th>Phone</th>
               </tr>
               {% for i in customers %}
                  <tr>
                     <td><a class="btn btn-sm btn-info" href="{% url 'customer' i.id %}">View</a></td>
                     <td>{{i.name}}</td>
                     <td>{{i.phone}}</td>
                  </tr>
               {% endfor %}
            </table>
         </div> 
   </div> -->


</div>


{% endblock %}