<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {%for i in nameLast%}
        {{i}}
    {%endfor%}
    {%for i in levelLast%}
        {{i}}
    {%endfor%}
    {%for i in menuImageLast%}
        <img src="{{i}}" alt="">
    {%endfor%}
    
    <!-- {%load filters%}
    {%for i in 85|ranges%}
        {{recipeName.i}}
        {{menuImage.i}}
        <img src="{{menuImage.i}}" alt="{{menuImage.i}}">
    {%endfor%}
     -->
</body>
</html>