{% extends 'app/main.html' %}
{% block content %}
<style>
  @font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  img{
    max-width: 400x;
    max-height: 250px;
    overflow: hidden;
  }
  body{
    background-color:#000066;
  }
  .aa {
    transform: scale(1);
    -webkit-transform: scale(1)!important;
    -moz-transform: scale(1)!important;
    -ms-transform: scale(1)!important;
    -o-transform: scale(1)!important;
    transition: all 0.3s ease-in-out!important;
    /* 부드러운 모션을 위해 추가*/
  }

  .aa:hover {
    transform: scale(1.2) !important;
    -webkit-transform: scale(1.2)!important;
    -moz-transform: scale(1.2)!important;
    -ms-transform: scale(1.22)!important;
    -o-transform: scale(1.22)!important;
  }
  .bc{
    background-color: 
    #D0D2D2;
    display:block;
    max-width: 100%;

  }
  .ff{
    color: black;
    font-family: 'Recipekorea';
    padding: 0%;
    margin: 0%;
  }
  .ff~p{
    font-size: small;
  }
  .mine{
    color: coral;
    font-family: 'Recipekorea';
    font-size: 2em;
    
  }
  .hi{
    width: 100%;
  }
</style>
<div class="container ml-0 mr-0 bc ff" >
  <div class="logo">
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="icon bi bi-door-closed-fill mt-2 ff"
    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
      d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
    </svg>
</div>
<h2 class="mb-0 ff" style="font-family: 'GmarketSansBold';">R.R.Company</h2>
  <p class="mb-0 ff">Recipes . Request . Company</p>
  
</div>
<div class="container mt-5">
  <div class="row mine">
    내 저장 목록 ㅎ
  </div>
</div>
<div class="container">
  <div class="row">
    <p> </p>
  </div>
</div>
<div class="container">
    <div class="container-fluid mb-5">
        <div class="row mb-5">
          {%for i in test%}
          <div class="container-fluid col-4"style="mt-3">
              <div class="card " style="border: none; color:black;">
                <p><img src = "{{i.img}}" class="hi"></p>
            <div class="card-body" style="height: 10px;">
              <h5 style="color:black;"class="card-title">
                {{i.name}}</h5>
            </div>
            
            <div class="card-a">
              <hr>
            </div></div>
            <br><br><br>
          </div>
          <br><br>  
          {%endfor%}
        </div>
    </div>
  
</div>
{% endblock %}